.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5) !important;
    font-size: 16px !important;
    padding: 5px 15px !important;
    font-weight: 600;

}
.navbar-light .navbar-nav .nav-link.btn {
    color: rgba(0, 123, 255, 0.51) !important;
    font-size: 10px !important;
    font-weight: 800;
    text-transform: uppercase;
    padding: 8px 22px !important;
    box-shadow: 0px 3px 10px #0000003b;
}
.navbar-light .navbar-nav .nav-link.btn:hover {

    color: #fff;
     background-color: #fff !important; 
    border-color: #007bff;
    box-shadow: 0px 6px 13px #00000052;
}
.btn-outline-primary{
    color: #fff;
    border-color: #007bff;
}

.breadcrumb {
     background-color: transparent;

}

.breadcrumb a{
    text-decoration: none;
    color:#888;
}
.product-thumb{
    overflow: hidden;
}
.product-thumb img{
    transition: all .4s ease-in-out;
}
.product-thumb img:hover{
    transform: scale(1.1);
}
.rating{
    color: #007bff;
}
.line-through{
    font-size: 13px;
    text-decoration: line-through;
}
.cart{
    color: #fff;
    background-color: transparent  !important;
    border-color: #007bff;
}
.cart:hover {
    color: #fff;
    background-color: transparent  !important;
    border-color: #007bff;
}
.cart,.buy:hover{
        box-shadow: 0px 6px 13px #00000052 !important;

}
.love{
    background:#ff245e;
}
.love i{
    font-size: 14px;
    color: #fff;
    padding: 4px;
}
.latest-section .btn{

}
.latest-section .btn:hover{
     box-shadow: 0px 6px 13px #00000052 !important;
}
.suggested-product{
    overflow: hidden;
}
.latest-section img{
    transition: all .4s ease-in-out;
}
.latest-section img:hover{
    transform: scale(1.1);
}

.footer-banner{}
.footer-banner h5{
    padding-top: 15px;
    font-size: 17px;

}
.footer-banner i {
    font-size: 16px;
    color: #fff;
    padding: 15px 15px;
}

.footer{}
.footer h5{
        margin-bottom: 20px;

}
.footer li {
    margin-bottom: 10px;
}
.footer ul{
    list-style: none;

}
.footer a{
    text-decoration: none;
    color: #fff;
}
.line{
    width: 60px;
    height: 1px;
    background: #007bff;
    margin-top: 14px;
}

footer{
    background: #2d2d2d;
    color: #fff;
    font-size: 14px;
    padding: 15px 0px;
}